<div
  class="px-2 pt-3 pb-1 flex items-center justify-start space-x-1 bg-zinc-800 ring-1 ring-inset ring-zinc-700 dark:text-black w-screen lg:w-full"
>
  <select
    id="font"
    class="form-input p-1 text-lg font-roboto rounded-sm"
    name="font"
    value="Roboto"
  >
    <option
      *ngFor="
        let font of fonts.length
          ? fonts
          : [
              {
                family: 'Roboto',
                file: 'http://fonts.gstatic.com/s/roboto/v30/KFOmCnqEu92Fr1Me5WZLCzYlKw.ttf'
              }
            ]
      "
      [value]="font.family"
    >
      {{ font.family | slice: 0:10 }}
    </option>
  </select>
  <input
    id="color"
    type="color"
    class="webkit-disable appearance-none border-none w-8 h-8 rounded-sm"
    [ngStyle]="{ background: colorip.value }"
    (input)="changeColor()"
    #colorip
    value="#8c00ff"
  />
  <select
    class="form-input p-1 text-lg font-roboto rounded-sm"
    name="font-size"
    id="font-size"
    [value]="fontSizes[8].value"
  >
    <option *ngFor="let fontSize of fontSizes" [value]="fontSize.value">
      {{ fontSize.name }}
    </option>
  </select>
</div>
