<div class="btn-b-f fixed top-[6.5rem] w-96 z-10" (click)="download()">
  Download
</div>
<div
  class="flex lg:flex-col lg:overflow-x-hidden lg:overflow-y-scroll overflow-y-hidden overflow-x-scroll bg-zinc-900 dark:dark-scroll-v dark:dark-scroll-h scroll-smooth lg:h-full lg:w-full flex-row lg:static z-0"
>
  <div
    *ngFor="let e of [].constructor(10)"
    class="outerbox scale-[0.27] caret-red-400 text-5xl font-black font-roboto"
    #container
  >
    <div class="header">
      <div id="headercontent" align="center"></div>
    </div>

    <div class="box text" draggable="true" contenteditable="true">
      <h2 class="">Learn Everyday Even If You Are A Master</h2>
    </div>

    <div class="footer">
      <div id="footercontent">
        <div class="footer-item">
          <img
            src="https://i.ibb.co/cCg6vD2/zillionairetransparent.png"
            class="logo"
          />
        </div>
        <div class="footer-item">
          <span id="username">ZILLIONAIRE.SAYINGS</span>
        </div>
      </div>
    </div>
  </div>
</div>
