<div
  class="flex flex-col overflow-y-scroll h-[36.95rem] bg-zinc-900 dark:dark-scroll-v scroll-smooth"
>
  <div
    *ngFor="let e of [].constructor(10)"
    class="shadow-lg shadow-white scale-[0.27] w-full h-full"
  >
    <div class="outerbox">
      <div class="header">
        <div id="headercontent" align="center"></div>
      </div>

      <div class="box text" contenteditable="true">
        <h2 class="border-2 border-sky-500">
          WHEN LIFE FUCKS YOU , FUCK IT BACK BUT HARDER
        </h2>
      </div>

      <div class="footer">
        <div id="footercontent">
          <div class="footer-item">
            <img
              src="https://i.ibb.co/cCg6vD2/zillionairetransparent.png"
              class="logo"
            />
          </div>
          <div class="footer-item">
            <span id="username">ZILLIONAIRE.SAYINGS</span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
