<div [ngClass]="{ dark: darkMode }" class="h-full m-0">
  <div
    class="flex flex-row p-2 justify-between items-center bg-gray-100 dark:bg-slate-900/75 transition-colors duration-700 dark:bg-opacity-70 dark:backdrop-blur fixed top-0 min-w-full dark:text-neutral-200 z-50 border-b border-b-slate-900/75 shadow-lg"
  >
    <div
      class="flex items-end hover:cursor-pointer hover:opacity-60"
      [routerLink]="['/']"
    >
      <p class="">
        <mat-icon class="text-sm pr-2 pt-2"> rocket_launch </mat-icon>
      </p>
      <p
        class="border-l-2 border-black dark:border-white pl-2 font-semibold md:tracking-widest"
      >
        BRANDROCKET
      </p>
    </div>
    <div class="flex">
      <button
        mat-icon-button
        (click)="darkMode = !darkMode"
        [ngClass]="darkMode ? 'text-yellow-300' : 'text-slate-600'"
        aria-label="theme-toggle"
      >
        <mat-icon> {{ darkMode ? "light_mode" : "dark_mode" }}</mat-icon>
      </button>
      <button mat-button (click)="login()">Login</button>
      <button mat-button (click)="logout()">Logout</button>
    </div>
  </div>
  <div
    class="dark:bg-slate-800 dark:text-neutral-100 transition-colors h-full duration-700 pt-[3.5rem]"
  >
    <router-outlet></router-outlet>
  </div>
</div>
