<div class="dark:bg-zinc-900 flex flex-col min-h-screen">
  <!-- <p
    class="md:text-5xl text-3xl pt-5 text-center animate-slide-down font-light"
  >
    Welcome to
  </p> -->

  <p
    class="md:text-8xl text-4xl p-5 font-black text-center text-gradient-g-dark animate-fade-in-2 font-sans"
  >
    BRANDROCKET
  </p>
  <div
    *ngFor="let s2d of pageData.second; let i = index"
    class="flex flex-col justify-start p-3 animate-fade-in-2 even:md:flex-row odd:md:flex-row-reverse"
  >
    <div
      class="flex justify-center md:max-w-xl sm:max-w-4xl p-2 animate-slide-up"
    >
      <!-- fetchpriority="high" -->
      <img class="rounded-md" [src]="s2d.img" alt="details-image" />
    </div>
    <div
      class="flex flex-col justify-center align-items-center p-2 animate-slide-up-2"
    >
      <p class="text-4xl text-gradient-dark dark:text-gradient font-extrabold">
        {{ s2d.h1 }}
      </p>
      <p class="text-xl pt-2 dark:text-neutral-200">
        {{ s2d.p }}
      </p>
    </div>
  </div>
</div>
